doctype html
html
    head
        title= "Real time web chat"
        script(src='/jquery-1.11.1.min.js')
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
        link(rel='stylesheet', href='/css/style.css')
    body
        #messages
        .controls
            form#chatbox
                input#name(style='width:100px;')
                input#field(style='width:350px;')
                button#send SEND